:root {
  --grey: hsl(40, 0%, 58%);
}

body {
  margin: 0;
  background-color: var(--grey);
}

h1,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1rem;
  color: white;
}
.card {
  box-sizing: border-box;
  padding: 13px;
  margin: 10px;
  background-color: firebrick;
  height: calc(max-content + 30px);
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}
